{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Accueil
{% endblock %}

{% block contenu %}

	<br>
	{% if session.login is defined %}
		<nav class="" aria-label="...">
			<ul class="pagination pagination-lg">
				<li class="page-item" aria-current="page">
					<a class="page-link" href="?page=accueil&item=pageMetier">Page métier</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page=accueil&item=random">random</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">test</a>
				</li>
			</ul>
		</nav>
	{% endif %}


	{% if form.item == "pageMetier" %}
		{% if session.role == "rh" %}
			<div class="container-fluid">
				<h1>Ajouter un utilisateur</h1>
				<form action="index.php?page=ajout-utilisateur" method="post" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
					<div class="form-row">
						<div class="form-group">
							<label for="inputPrenom">Prénom</label>
							<input type="text" class="form-control" id="inputPrenom" name="inputPrenom" placeholder="Prénom" required>
							<div class="valid-feedback">
								Semble correct!
							</div>
						</div>
						<div class="form-group">
							<label for="inputNom">Nom</label>
							<input type="text" class="form-control" id="inputNom" name="inputNom" placeholder="Nom d'usage" required>
							<div class="valid-feedback">
								Semble correct!
							</div>
						</div>
						<div class="form-group">
							<label for="inputMail">Adresse mail</label>
							<input type="email" class="form-control" id="inputMail" name="inputEmail" aria-describedby="emailHelp" placeholder="Adresse mail" required>
							<div class="valid-feedback">
								Semble correct!
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword">Mot de passe</label>
							<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Mot de passe" required>
							<div class="valid-feedback">
								Semble correct!
							</div>
						</div>
						<div class="form-group">
							<label for="username">Numéro de téléphone</label>
							<div class="input-group">
								<input type="text" class="form-control" id="numTel" name="inputTel" placeholder="Numéro de téléphone" required>
								<div class="invalid-feedback">
									Veuillez saisir un numéro de téléphone valide.
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputFonction">Fonction</label>
						<select id="inputFonction" name="selectRole" class="form-control">
							{% for role in listeRole %}
								<option value={{role.id}}>{{role.libelle}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-row">
						<div class="form-group">
							<label for="validationCustom03">Adresse</label>
							<input type="text" class="form-control" id="validationCustom03" name="inputAdresse" placeholder="Adresse" required>
							<div class="invalid-feedback">
								Veuillez saisir une ville.
							</div>
						</div>
						<div class="form-row">
							<div class="form-group">
								<label for="validationCustom03">Adresse bis</label>
								<input type="text" class="form-control" id="validationCustom03" name="inputAdresseBis" placeholder="Adresse bis" required>
								<div class="invalid-feedback">
									Veuillez saisir une ville.
								</div>
							</div>
							<div class="form-row">
								<div class="form-group">
									<label for="validationCustom03">Région</label>
									<input type="text" class="form-control" id="validationCustom03" name="inputRegion" placeholder="Région" required>
									<div class="invalid-feedback">
										Veuillez saisir une région.
									</div>
								</div>
								<div class="form-group">
									<label for="validationCustom05">Code postal</label>
									<input type="text" class="form-control" id="validationCustom05" name="inputCP" placeholder="Zip" required>
									<div class="invalid-feedback">
										Veuillez saisir un code postal valide.
									</div>
								</div>
							</div>
						</br>
						<button class="btn btn-primary" name="inscription" type="submit">Créer ce compte</button>
					</div>
				</div>
			</form>
		</div>
		<script>
			// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
'use strict';
window.addEventListener('load', function () { // Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
var validation = Array.prototype.filter.call(forms, function (form) {
form.addEventListener('submit', function (event) {
if (form.checkValidity() === false) {
event.preventDefault();
event.stopPropagation();
}
form.classList.add('was-validated');
}, false);
});
}, false);
})();
		</script>

		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr style="text-align:center;">
						<th scope="col">ID</th>
						<th scope="col">Nom</th>
						<th scope="col">Prénom</th>
						<th scope="col">Fonction</th>
						<th scope=""]=> string(1) "2" [0]=> string(1) "2" ["libelle"]=> string(5) "test2" [1]=> string(5) "test2" } [2]=> array(4) { ["id"]=> string(1) "3" [0]=> string(1) "3" ["libelle"]=> string(2) "rh" [1]=> scol">Email</th>
						<th scope="col">Num. Tél</th>
						<th scope="col"></th>
					</tr>
				</thead>

				<tbody>
					{% for employe in listeEmploye %}
						<tr style="text-align:center;">
							<td>{{employe.id}}</td>
							<td>{{employe.nom}}</td>
							<td>{{employe.prenom}}</td>
							<td>{{employe.libelle}}</td>
							<td>
								<a href="mailto:{{employe.email}}">{{employe.email}}</a>
							</td>
							<td>{{employe.numTel}}</td>
							<td>
								<a class="bi bi-brush-fill" href="?page=modif-utilisateur&id={{employe.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush-fill" viewbox="0 0 16 16">
										<path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z"/>
									</svg>
								</a"]=> string(1) "2" [0]=> string(1) "2" ["libelle"]=> string(5) "test2" [1]=> string(5) "test2" } [2]=> array(4) { ["id"]=> string(1) "3" [0]=> string(1) "3" ["libelle"]=> string(2) "rh" [1]=> s>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<h1>Veuillez vous connecter avant d'accéder à cette page.</h1>
	{% endif %}


{% elseif form.item == "random" %}
	<div>
		<h1>gfreger</h1>
	</div>
{% endif %}{% endblock %}
