{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Accueil
{% endblock %}

{% block contenu %}

	<br>
	{% if session.login is defined %}
		<div class="container">
			<nav class="" aria-label="...">
				<ul class="pagination pagination-lg">
					{% if form.item == "1" %}
						<li class="page-item active" aria-current="page">
							<a class="page-link" href="?page=accueil&item=1">Page métier</a>
						</li>
					{% else %}
						<li class="page-item" aria-current="page">
							<a class="page-link" href="?page=accueil&item=1">Page métier</a>
						</li>
					{% endif %}

					{% if session.role == "Ressources Humaines" %}
						{% if form.item == "2" %}
							<li class="page-item active">
								<a class="page-link" href="?page=accueil&item=2">Archives</a>
							</li>
						{% else %}
							<li class="page-item">
								<a class="page-link" href="?page=accueil&item=2">Archives</a>
							</li>
						{% endif %}
						<li class="page-item">
							<a class="page-link" href="https://la1ere.francetvinfo.fr/guadeloupe/le-vaccinobus-nouvel-outil-de-la-proximite-vaccinale-1095034.html">VACCIBUS</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="https://www.huffingtonpost.fr/entry/vaccination-la-richesse-ou-les-diplomes-insuffisants-pour-expliquer-le-choix-de-ceux-qui-decident-de-ne-pas-le-faire_fr_61166e34e4b07c1403142492">Se vacciner pour devenir un bon français</a>
						</li>

					{% elseif session.role == "Développeur"%}

					{% elseif session.role == "Chef de projet"%}

						{% if form.item == "2" %}
							<li class="page-item active" aria-current="page">
								<a class="page-link" href="?page=accueil&item=2">Equipe</a>
							</li>
						{% else %}
							<li class="page-item" aria-current="page">
								<a class="page-link" href="?page=accueil&item=2">Equipe</a>
							</li>
						{% endif %}

					{% endif %}
				</ul>
			</nav>
		</div>
	{% endif %}


	{% if form.item == "1" %}
		{% if session.role == "Ressources Humaines" %}
			{% if form.valide is defined %}
				{% if form.valide == true %}
					<div class="alert alert-info" role="alert">
						{{form.message}}
					</div>
				{% else %}
					<div class="alert alert-danger" role="alert">
						{{form.message}}
					</div>
				{% endif %}
			{% endif %}
			<div class="container">
				<div class="row">
					<div class="col-4 bg-light rounded">
						<h1 style="text-align:center;">Créer un compte</h1>
						<form action="index.php?page=accueil" method="post" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
							<div class="form-group">
								<label for="inputPrenom">Prénom</label>
								<input type="text" class="form-control" id="inputPrenom" name="inputPrenom" placeholder="Prénom" required>
								<div class="valid-feedback">
									Semble correct!
								</div>
							</div>
							<div class="form-group">
								<label for="inputNom">Nom</label>
								<input type="text" class="form-control" id="inputNom" name="inputNom" placeholder="Nom d'usage" required>
								<div class="valid-feedback">
									Semble correct!
								</div>
							</div>
							<div class="form-group">
								<label for="inputMail">Adresse mail</label>
								<input type="email" class="form-control" id="inputMail" name="inputEmail" aria-describedby="emailHelp" placeholder="Adresse mail" required>
								<div class="valid-feedback">
									Semble correct!
								</div>
							</div>
							<div class="form-group">
								<label for="username">Numéro de téléphone</label>
								<div class="input-group">
									<input type="text" class="form-control" id="numTel" name="inputTel" placeholder="Numéro de téléphone" required>
									<div class="invalid-feedback">
										Veuillez saisir un numéro de téléphone valide.
									</div>
								</div>
							</div>
							<label for="inputFonction">Fonction</label>
							<select id="inputFonction" name="selectRole" class="form-control">
								{% for role in listeRole %}
									<option value={{role.id}}>{{role.libelle}}</option>
								{% endfor %}
							</select>
							<div class="form-group">
								<label for="validationCustom03">Adresse</label>
								<input type="text" class="form-control" id="validationCustom03" name="inputAdresse" placeholder="Adresse" required>
								<div class="invalid-feedback">
									Veuillez saisir une ville.
								</div>
								<div class="form-group">
									<label for="validationCustom03">Adresse bis</label>
									<input type="text" class="form-control" id="validationCustom03" name="inputAdresseBis" placeholder="Adresse bis" required>
									<div class="invalid-feedback">
										Veuillez saisir une ville.
									</div>

									<div class="form-group">
										<label for="validationCustom03">Région</label>
										<input type="text" class="form-control" id="validationCustom03" name="inputRegion" placeholder="Région" required>
										<div class="invalid-feedback">
											Veuillez saisir une région.
										</div>
									</div>
									<div class="form-group">
										<label for="validationCustom05">Code postal</label>
										<input type="text" class="form-control" id="validationCustom05" name="inputCP" placeholder="Zip" required>
										<div class="invalid-feedback">
											Veuillez saisir un code postal valide.
										</div>
									</div>
								</div>
							</br>
							<div class="text-center">
								<button class="btn btn-primary bg-gradient" name="inscription" type="submit">Créer ce compte</button>
							</div>
						</br>
					</div>
				</form>
			</div>

			<div class="col-1"></div>

			<div class="table-responsive col-7  bg-light rounded border">
				<h1 style="text-align:center;">Liste des utilisateurs</h1>


				<table class="table">
					<thead>
						<tr style="text-align:center;">
							<th scope="col">Nom</th>
							<th scope="col">Prénom</th>
							<th scope="col">Fonction</th>
							<th scope="col">Email</th>
							<th scope="col">Num. Tél</th>
							<th scope="col">Administrer</th>
							<th scope="col">Activer/Désactiver</th>

						</tr>
					</thead>

					<tbody>
						{% for employe in listeEmploye %}
							<tr style="text-align:center;">
								<td>{{employe.nom}}</td>
								<td>{{employe.prenom}}</td>
								<td>{{employe.libelle}}</td>
								<td>
									<a href="mailto:{{employe.email}}">{{employe.email}}</a>
								</td>
								<td>{{employe.numTel}}</td>
								<td>
									<a class="bi bi-brush-fill" href="?page=modif-utilisateur&id={{employe.id}}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush-fill" viewbox="0 0 16 16">
											<path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z"/>
										</svg>
									</a>
									<div></div>
									{% if employe.estInactif == 1 %}
										<button id="delbutton" value="{{employe.id}}">
											<span class="material-icons deleteButton">delete</span>
										</button>
									{% endif %}
								</td>
								<td>
									<a class="bi bi-brush-fill" href="?page=accueil&item=1&activate={{employe.id}}">
										{% if employe.estInactif == 0 %}
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
												<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
											</svg>
										{% else %}
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewbox="0 0 16 16">
												<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
												<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
											</svg>
										{% endif %}
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal fade" id="myModal" role="dialog">
		<div
			class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p>Êtes-vous sûr de vouloir supprimer cet utilisateur?</p>
				</div>
				<div class="modal-footer">
					<button id="perform" type="button" class="btn btn-default" data-dismiss="modal">Oui</button>
					<button type="button" class="btn btn-default close" data-dismiss="modal">Non</button>
				</div>
			</div>

		</div>
	</div>

{% elseif session.role == "Développeur" %}
	<h1 class="text-center">Tableau des missions</h1>
	<div class="card text-center">
		<div class="card-header">
			Featured
		</div>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			<a href="#!" class="btn btn-primary">Go somewhere</a>
		</div>
		<div class="card-footer text-muted">
			2 days ago
		</div>
	</div>
	{% elseif session.role == "Chef de projet" %}

{% endif %}{% elseif form.item == "2" %}
{% if session.role == "Ressources Humaines" %}
	<div class="container bg-light">
		<h1 style="text-align:center">Archive des anciens employés</h1>
		<table class="table">
			<thead>
				<tr style="text-align:center;">
					<th scope="col">ID</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Adresse</th>
					<th scope="col">Adresse complémentaire</th>
					<th scope="col">Région</th>
					<th scope="col">Num. Tél</th>
					<th scope="col">Code Postal</th>
					<th scope="col">Date d'arrêt</th>

				</tr>
			</thead>
			<tbody>
				{% for employeArchive in listeEmployeArchives %}
					<tr style="text-align:center;">
						<td>{{employeArchive.id}}</td>
						<td>{{employeArchive.nom}}</td>
						<td>{{employeArchive.prenom}}</td>
						<td>{{employeArchive.adresse}}</td>
						<td>{{employeArchive.adresseBis}}</td>
						<td>{{employeArchive.region}}</td>
						<td>{{employeArchive.numTel}}</td>
						<td>{{employeArchive.codePostal}}</td>
						<td>{{employeArchive.dateArret | date("d-m-Y")}}</td>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>
{% elseif session.role == "Chef de projet"%}
	<h1 class="text-center">Tableau des équipes</h1>
	{% if listeEquipe|length == 0 %}
		<h2 class="text-center">Pas d'équipe inscrite</h2>
	{% else %}
		<table class="table">
			<thead>
				<tr style="text-align:center;">
					<th scope="col">ID</th>
					<th scope="col">NomEquipe</th>
				</tr>
			</thead>
			<tbody>
				{% for equipe in listeEquipe %}
					<tr style="text-align:center;">
						<td>{{equipe.id}}</td>
						<td>{{equipe.nomEquipe}}</td>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	{% endif %}
	<a class="btn btn-primary" href="?page=ajout-equipe">Créer équipe</a>
	
	
{% endif %}{% endif %}{% endblock %}
