{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}- Boîte de réception
{% endblock %}
{% block contenu %}
	<link href="css/messagerie.css" rel="stylesheet">
	<h1 style="text-align:center;">Boîte de réception</h1>
	<br>

	<div class="center container">
		{% if listeMessage|length > 0%}
		<div class="table-responsive container">
		<table class="table">
			<thead>
				<tr style="text-align:center;">
					<th colspan="1">Expéditeur</th>
					<th>Objet</th>
					<th colspan="5">Message</th>
					<th colspan="1">Date de réception</th>
				<tr>
			</thead>
			<tbody>
			{% for message in listeMessage %}
					<tr style="text-align:center;" class="message" id="{{message.id}}">
						<td>{{message.expediteur}}</td>
						<td>{{message.objet}}</td>
						<td colspan="5" id="{{message.id}}">{{message.contenu}}</td>
						<td colspan="1">{{message.dateEnvoi | date("d/m/Y")}}</td>
					</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
		{% else %}
			<h2>Aucun message</h2>
		{% endif %}
	</div>
	<div class="center">
		<button id="newMessageButton" class="btn btn-primary">Nouveau message</button>
	</div>

	<div class="modal fade" id="myModal" role="dialog">
		<div
			class="modal-dialog">

			<!-- Modal content-->
			<form action="index.php?page=messagerie" method="post" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h5 class="modal-title">Envoi de message</h5>
					</div>
					<div class="modal-body">
						<div>
							<label>Destinataire :</label>
							<select id="listeDestinataire" name="destinataireInput">
								{% for destinataire in listeDestinataire %}
									<option value="{{destinataire.email}}">{{destinataire.email}}</option>
								{% endfor %}
							</select>
						</div>
					</br>
					<div>
						<label>Objet:</label>
						<input type="text" id="objenInput" name="objetInput"></input>
				</div>
				<br>
				<div>
					<label>Message:</label>
					<textarea name="contenuInput"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" name="envoi" class="btn btn-default perform" data-dismiss="modal">Envoyer</button>
				<button type="button" class="btn btn-default close" data-dismiss="modal">Annuler</button>
			</div>
		</form>
	</div>

</div></div>{% endblock %}
