{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}- Boîte de réception
{% endblock %}
{% block contenu %}
	<style>
		
	</style>
	<h1 style="text-align:center;">Boîte de réception</h1>
	<br>

	<div class="center container">
		{% for message in listeMessage %}

			<div id="rcorners3">
				<div class="center">De:
					{{message.expediteur}}</div>
				<div class="center">Objet:
					{{message.objet}}</div>
				<div class="bottom">Reçu le: 10/10/21</div>
			</div>
			<br>
		{% endfor %}
	</div>
	<div class="center">
		<button id="newMessageButton" class="button button4">Nouveau message</button>
	</div>

	<div class="modal fade" id="myModal" role="dialog">
		<div
			class="modal-dialog">

			<!-- Modal content-->
			<form action="index.php?page=messagerie" method="post" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h5 class="modal-title">Envoi de message</h5>
					</div>
					<div class="modal-body">
						<div>
							<label>Destinataire :</label>
							<select id="listeDestinataire" name="destinataireInput">
								{% for destinataire in listeDestinataire %}
									<option value="{{destinataire.nom}}">{{destinataire.nom}}</option>
								{% endfor %}
							</select>
						</div>
					</br>
					<div>
						<label>Objet:</label>
						<input type="text" id="objenInput" name="objetInput"></input>
				</div>
				<br>
				<div>
					<label>Message:</label>
					<textarea name="contenuInput"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" name="envoi" class="btn btn-default perform" data-dismiss="modal">Envoyer</button>
				<button type="button" class="btn btn-default close" data-dismiss="modal">Annuler</button>
			</div>
		</form>
	</div>

</div></div>{% endblock %}
