{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Modifier utilisateur
{% endblock %}
{% block contenu %}
	<style>
		body {
			background: rgb(125, 125, 125)
		}

		.form-control:focus {
			box-shadow: none;
			border-color: #BA68C8
		}

		.profile-button {
			background: rgb(99, 39, 120);
			box-shadow: none;
			border: none
		}

		.profile-button:hover {
			background: #682773
		}

		.profile-button:focus {
			background: #682773;
			box-shadow: none
		}

		.profile-button:active {
			background: #682773;
			box-shadow: none
		}

		.back:hover {
			color: #682773;
			cursor: pointer
		}

		.labels {
			font-size: 11px
		}

		.add-experience:hover {
			background: #BA68C8;
			color: #fff;
			cursor: pointer;
			border: solid 1px #BA68C8
		}
	</style>
	<form action="index.php?page=modif-utilisateur" method="post" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
		<div class="container rounded bg-white mt-5 mb-5">
			<div class="row">
				<div class="col-md-3 border-right">
					<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{employe.prenom}}</span>
						<span class="text-black-50">{{employe.email}}</span>
						<span></span>
					</div>
				</div>
				<div class="col-md-9 border-right">
					<div class="p-3 py-5">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<h4 class="text-right">Modifier le profil de
								{{employe.nom}}
								{{employe.prenom}}</h4>
						</div>
						<div class="row mt-2">
							<div class="col-md-6">
								<label class="labels">Prénom</label><input type="text" class="form-control" name="inputNom" value="{{employe.nom}}"></div>
							<div class="col-md-6">
								<label class="labels">Nom</label><input type="text" class="form-control" name="inputPrenom" value="{{employe.prenom}}"></div>
						</div>
						<div class="row mt-3">
							<div class="col-md-12">
								<label class="labels">Mobile Number</label><input type="text" class="form-control" name="inputTel" value="{{employe.numTel}}"></div>
							<div class="col-md-12">
								<label class="labels">Adresse (ligne 1)</label><input type="text" class="form-control" name="inputAdresse" value="{{employe.adresse}}"></div>
							<div class="col-md-12">
								<label class="labels">Adresse (ligne 2)</label><input type="text" class="form-control" name="inputAdresseBis" value="{{employe.adresseBis}}"></div>
							<div class="col-md-12">
								<label class="labels">Code Postal</label><input type="text" class="form-control" name="inputCP" value="{{employe.codePostal}}"></div>
							<div class="col-md-12">
								<label class="labels">Région / Département</label><input type="text" class="form-control" name="inputRegion" value="{{employe.region}}"></div>
							<div class="col-md-12">
								<label class="labels">Email ID</label><input type="text" class="form-control" name="inputEmail" value="{{employe.email}}"></div>
							<div class="col-md-12">
								<label class="labels">Fonction</label>
								<select class="form-control" name="selectRole">
									{% for role in listeRole %}
										<option value={{role.id}}>{{role.libelle}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-12">
						<input type="hidden" class="form-control" name="id" value="{{employe.id}}"></div>
					</br>
					<button class="btn btn-primary" name="modification" type="submit">Modifier</button>
				</div>
			</form>
		</div>
	</div>
</div></div></div>{% endblock %}
